aiocontextvars==0.2.2
ansi2html==1.9.2
argcomplete==3.6.3
atheris==3.0.0
BeautifulSoup==3.2.2
beautifulsoup4==4.14.3
brotli==1.2.0
brotlicffi==1.2.0.0
cffi==2.0.0
chardet==5.2.0
click==8.3.1
configobj==5.0.9
ConfigParser==7.2.0
contextlib2==21.6.0
cython==3.2.4
docutils==0.22.4
eventlet==0.40.4
exceptiongroup==1.3.1
filelock==3.20.3
fqdn==1.5.1
gevent==25.9.1
greenlet==3.3.0
h2==4.3.0
html5lib==1.1
HTMLParser==0.0.2
hypothesis==6.151.4
importlib_resources==6.5.2
ipykernel==7.1.0
ipython==9.9.0
ipywidgets==8.1.8
isoduration==20.11.0
jnius==1.1.0
js==1.0
jsonpointer==3.0.0
keyring==25.7.0
lxml_html_clean==0.4.3
nacl==0.0.0
numpy==2.4.1
ordereddict==1.1
outcome==1.3.0.post0
ox_profile==0.2.14
pexpect==4.9.0
Pillow==12.1.0
protobuf==6.33.5
psutil==7.2.2
pudb==2025.1.5
pyodide==0.0.2
pyOpenSSL==25.3.0
pyperf==2.9.0
python_bcrypt==0.3.2
redis==7.1.0
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rfc3987_syntax==1.1.0
servicemanager==2.0.10
setproctitle==1.3.7
setuptools==80.10.2
simplejson==3.20.2
sniffio==1.3.1
socksio==1.0.0
thread==2.0.6
Twisted==25.5.0
uri_template==1.3.0
urllib3_secure_extra==0.1.0
uvloop==0.22.1
webcolors==25.10.0
winloop==0.5.0
xmlrpclib==1.0.1
xmltodict==1.0.2
zope==5.13
zstandard==0.25.0
